# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

**/.DS_Store

# dependencies
acnh-i-d/node_modules
acnh-i-d/.pnp
.pnp.js

# testing
acnh-i-d/coverage

# production
acnh-i-d/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
