/* All Pages */
#page-heading{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: bisque;
}

.main{
    margin-left: 22%;
    height: 100%;
    background-color: beige;
}

.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: aquamarine;
}

#player-image{
    padding: 10%;
    width: 80%;
}

#username{
    text-align: center;
}

.villager-table{
    padding: 5%;
}

#villager-icon{
    width: 38%;
    padding: 5%;
}

/* Profile Page */
.profile-option-bar{
    margin-left: 22%;
    width: 78%;
    height: 5%;
    background-color: cadetblue;
}

#passport-section{
    width: 70%;
}

#passport-section img{
    width: 100%;
}

#passport-section button{
    float: right;
}

/* Villagers Page */
#search-bar{
    width: 78%;
}