#page-heading{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: bisque;
}

.main{
    margin-left: 22%;
    height: 100%;
    background-color: beige;
}

.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: aquamarine;
}

#player-image{
    padding: 10%;
    width: 80%;
}

#username{
    text-align: center;
}

.villager-table{
    padding: 5%;
}

#villager-icon{
    width: 38%;
    padding: 5%;
}